* {
  font-family: var(--font-family-main);
}

body {
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100%;
  color: var(--text-color);
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--links-color);
  text-decoration: none;
  display: block;
  font-weight: 700;
  padding: 1rem;
  text-transform: uppercase;
}

button {
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 10px 2px rgb(34 60 80 / 20%);
  cursor: pointer;
  display: block;
  font-size: large;
  height: 40px;
  margin: 1rem;
  width: 150px;
}

button:hover {
  color: var(--accent-text-color);
  box-shadow: 0 5px 10px 5px rgba(96, 64, 145, 0.2);
}

.header {
  width: 100%;
  height: var(--header-height);
  padding: 1rem;
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header a {
  color: white;
}

.header a.active {
  color: var(--links-color);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 2rem;
}

.main {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}


.footer {
  width: 100%;
  height: var(--footer-height);
  padding: 1rem;
  bottom: 0;
  background-color: var(--secondary-color);
  color: white;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 110px;
  height: 40px;
  background: url(../../../public/logo-agrilution-black.svg) no-repeat center;
  filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(73deg) brightness(104%) contrast(105%);
  margin-left: 2rem;
  margin-right: auto;
}

.footer a {
  color:white;
  display: block;
  text-transform: none;
}

.git_logo {
  width: 40px;
  height: 40px;
  filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(73deg) brightness(104%) contrast(105%);
  margin-left: 1rem;
  background: url("../../../public/github-30.svg") no-repeat center;
}

