.selected-plant-page {
  height: calc(100% - var(--header-height) - var(--footer-height) - 60px);
}
.selected-plant-top-container {
  height: auto;
  width: 100%;
  padding: 2rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.selected-plant-image {
  max-width: var(--selected-image-width);
  height: auto;
  object-fit: cover;
}

.plant-details-wrapper {
  width: 100%;  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 2rem;
}

.details-field {
  text-align: left;
  width: 100%;
}

.lights-section {
  width: 100%;
  align-self: flex-start;
  padding-left: 4rem;
  padding-right: 2rem;
}

.light-settings__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .selected-plant-top-container {
    flex-direction: column;
    align-items: center;
  }

  .plant-price.details-field {
    text-align: center;
  }

  .plant-details-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .details-container {
    align-items: center;
  }

  .lights-section {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .light-settings__container {
    align-items: center;
  }

  .back-button {
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .light-settings__item {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .details-container {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .selected-plant-top-container {
    padding: 1rem;
  }

  .selected-plant-image {
    max-width: 100%;
  }

  .footer a {
    padding: 0;
  }

  .logo {
    margin-left: 0.5rem;
  }

  .nav {
    margin-right: 0.5rem;
  }
}