.light-settings__item {
  width: calc(100vw / 2 - 2rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.light-settings__item__description {
  text-align: left;
  margin-bottom: 0.5rem;
}

input[type="range"] {
  appearance: none;
  width: 200px;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-right: 2rem;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--secondary-color);
  cursor: pointer;
}